.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
.springBeans
eclipsebin

.class
*.zip
*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
*.swp
*~
*.orig

classes
testclasses

.sonar
.gradle
.vagrant
*.log
hmc.xsd
.classpath
.project
